<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section
         name="microkernel"
         type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
   </configSections>

   <microkernel>
      <typeAliases>
         <typeAlias alias="IDataProvider" type="BugtraqPlugin.Contracts.IDataProvider, BugtraqPluginContracts" />
         <typeAlias alias="RedmineDataProvider" type="BugtraqPlugin.DataProvider.RedmineDataProvider, BugtraqPluginDataProvider" />
         <typeAlias alias="GoogleCodeDataProvider" type="BugtraqPlugin.DataProvider.GoogleCodeDataProvider, BugtraqPluginDataProvider" />
      </typeAliases>
      <containers>
         <container>
            <types>
               <type name="Redmine" type="IDataProvider" mapTo="RedmineDataProvider" />
               <type name="Google Code" type="IDataProvider" mapTo="GoogleCodeDataProvider" />
            </types>
         </container>
      </containers>
   </microkernel>
</configuration>